{% extends 'main_layout.html.twig' %}

{% block header %}
    <div>
        <nav class="navigation-1">
            <div class="navigation-1_align">
                <div class="navigation-1_left">
                    <img class="location_image" src="images/location.png" alt="">
                    <p class="location">Location</p>
                    <img class="mail_image" src="images/mail.png" alt="">
                    <p class="email">Mail us</p>
                    <img class="key_image" src="images/key.png" alt="">
                    <p class="login">Login</p>
                </div>

                <div class="navigation-1_right">
                    <img class="search_image" src="images/search.png" alt="">
                    <p><span>DE</span><span>EN</span></p>
                </div>
            </div>
        </nav>

        <nav class="navigation-2">
            <div class="navigation-2_align">
                <div class="navigation-2_left">
                    <h3>Hotel</h3>
                </div>

                <div class="navigation-2_middle">
                    <ul>
                        <li>
                            <a>Home</a>
                        </li>
                        <li>
                            <a>About</a>
                        </li>
                        <li>
                            <a>Rooms</a>
                        </li>
                        <li>
                            <a>Services</a>
                        </li>
                        <li>
                            <a>Blog</a>
                        </li>
                        <li>
                            <a>Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="navigation-2_right">

                </div>
                
            </div>
        </nav>
    </div>
{% endblock %}

{% block home %}
    <div class="home">
        <img class="pozadina" src="images/pozadina.png" alt="">
        <div class="home-container">
            <h3 class="naslov">Feel like home, but better.</h3>
            <p class="podnaslov">World-famous. Deeply relaxing.</p>
            <button class="learn_more">Learn more</button>

            <div class="follow_us-container">
                <p class="follow_us">Follow us</p>
                <img class="icon" src="images/facebook.png" alt="">
                <img class="icon" src="images/instagram.png" alt="">
            </div>

            <div class="arrow_container">
                <button class="buttonLeft">
                    <img class="arrow" src="/images/arrow_back_white.png" alt="">
                </button>
            </div>

            <div class="home-slider">
                {% for product in products %}
                    <div class="card">
                        <a href="room/{{product.slug}}">
                            <img class="room_image" src={{ product.images[0].url }} alt="room">
                            <div class="card_body">
                                <div class="name_and_price">
                                    <p class="room_name">{{ product.title }}</p>
                                    <p class="room_price">{{ product.formatted_price }}</p>
                                </div>
                                <a href="#" class="view_details">View details<img class="learn_more-arrow" src="images/learn_more-arrow.png"></img></a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block apartmants %}
    <div class="apartmants">
        <div class="apartmants-container">
            <div class="about_us-container">
                <h3 class="naslov">Comfort & Design to relax in Luxury Hotel</h3>
                <p class="podnaslov">Every day is a new day for relaxation.</p>
                <button class="about_us">About us</button>
            </div><div class="comment-container">
                <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
                <p class="comment_creator">John Johnson</p>
                <p class="comment_creator-title">General manager</p>
            </div>

            <h3 class="naslov">Best Apartments</h3>

            <div class="best_apartmants">
                {% for product in products %}
                    <div class="card">
                        <a href="room/{{product.slug}}">
                            <img class="room_image" src={{ product.images[0].url }} alt="room">
                            <div class="card_body">
                                <div class="name_and_price">
                                    <p class="room_name">{{ product.title }}</p>
                                    <p class="room_price">{{ product.formatted_price }}</p>
                                </div>
                                <a href="#" class="view_details">View details<img class="learn_more-arrow" src="images/learn_more-arrow.png"></img></a>
                            </div>
                        </a>
                    </div>
			    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block service %}
    <div class="service">
        <img class="service_background" src="images/pozadina_2.png" alt=""></img>
        <img class="service_maid" src="images/pozadina_3.png" alt=""></img>

        <div class="service_align">
            <div class="about_us-container">
                <h3 class="naslov">Excellent service</h3>
                <p class="podnaslov">Every day is a new day for relaxation.</p>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
                <a href="#" class="learn_more-link">Learn more<img class="learn_more-arrow" src="images/learn_more-arrow.png"></img></a>
            </div>

            <div class="feature_cards">
                <div class="card">
                    <img src="images/services-1.png" alt=""></img>
                    <div class="card_body">
                        <h4>Orthopedic beds</h4>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ispum.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/services-2.png" alt=""></img>
                    <div class="card_body">
                        <h4>Extraordinary cousine</h4>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/services-3.png" alt=""></img>
                    <div class="card_body">
                        <h4>Custom coffee</h4>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block news %}
    <div class="news">
        <div class="news_align">
            <h3 class="naslov">Recent news</h3>
            <div class="slider">

            </div>
        </div>
        <img src="images/pozadina_4.png" alt=""></img>
        <div class="booking">
            <div class="card">
                <h3 class="naslov">Discover a Hotel features</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida metus quis varius. Nullam sit amet fringilla velit, non pretium nibh. Etiam condimentum diam sapien, a hendrerit est pellentesque. Etiam condimentum diam sapien, a hendrerit est pellentesque.</p>
                <button class="book_now">Book now</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block reviews %}
    <div class="reviews">
        <h3 class="naslov">Guest reviews</h3>
            <div class="slider">

            </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer-1">
            <div class="block-1">
                <h4>Hotel</h4>
                <p>Every day is a new day for relaxation.</p>
                <div class="follow_us-container">
                    <p class="follow_us">Follow us</p>
                    <img class="icon" src="images/facebook.png" alt="">
                    <img class="icon" src="images/instagram.png" alt="">
                </div>
            </div><div class="block-2">
                <p class="naslov">Address</p>
                <p class="city">London</p>
                <p class="address">Main street 1 London, CA 70413</p>
                <p class="opening">Open: 9:30AM 5:30PM</p>
                <p class="city">New York</p>
                <p class="address">Great street Broadway, NT 10013</p>
                <p class="opening">Open: 8:30AM 4:30PM</p>
            </div><div class="block-3">
                <p class="naslov">Cotact us</p>
                <p class="number">+44 (800) 456-78-91</p>
                <p class="email">hotel.london@mail.com</p>
                <p class="number">+1 (810) 456-78-91</p>
                <p class="email">hotel.ny@mail.com</p>
            </div><div class="block-4">
                <p class="naslov">Stay in touch</p>
                <input class="input-email" type="text" placeholder="Your email">
                <button class="subscribe">Subscribe</button>
            </div>
        </div>
        <div class="footer-2">
            <div class="footer-2_align">
                <div class="footer-2_left">
                    <p>@2020, Frontend akademija</p>
                </div>

                <div class="footer-2_right">
                    <p>Privacy Policy</p>
                    <p>Site map</p>
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

